@import 'root.css';

footer {
    width: 100%;
    background-color: var(--secondary-background-color);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
