@import 'root.css';

header {
    width: calc(100% - 6em);
    background-color: var(--secondary-background-color);
    padding: 1em 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 0.5em 1em;
}

header ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

header ul li a:hover {
    text-decoration: underline;
}

@media (width <= 700px) {
    header h1 {
        display: none;
    }

    header ul {
        padding: 0;
        justify-content: space-around;
    }

    header ul li {
        margin: 1em;
    }
}
