@import 'root.css';

main {
    margin: 3em 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    width: 80%;
    padding: 3em 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 2em;
    background: linear-gradient(135deg, var(--secondary-color) 0, var(--tertiary-color) 6em);
    background-clip: text;
    color: transparent;
}

section article {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section img#profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2em;
}

section p {
    width: 60%;
}

section a {
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    border-radius: 1em;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

section.about-me {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

section.about-me article {
    flex-direction: row;
}

section.about-me article a {
    margin: 0;
}

section ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.education ul, section.work-experience ul {
    flex-direction: column;
}

section ul li p {
    text-align: end;
}

main i {
    font-size: 2em;
    margin-right: 0.5em;
}

main span i {
    margin: 0 0.25em;
}

main hr {
    width: 90%;
    border: 1px solid var(--secondary-color);
    border-radius: 10%;
}

section.skills ul {
    display: flex;
    justify-content: center;
}

section.education {
    background-image: url("../images/unizg.png");
    background-repeat: no-repeat;
    background-position: center;
}

section.education article, section.work-experience article {
    width: 100%;
}

section.education article ul, section.work-experience article ul {
    width: 100%;
    justify-content: space-between;
}

section.work-experience article ul li {
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2em;
}

.four-of-them {
    background-image: url("../images/four-of-them.png");
}

section.work-experience article div a {
    margin: 0;
    padding-left: 0;
}

section.work-experience article div p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}

section.work-experience i {
    margin: 0 0.25em;
}

.row {
    width: 100%;
    display: flex;
}

.column {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.column img {
    border: 5px solid #0000;
    width: 100%;
}

.link-primary {
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    transition: 0.3s;
}

.link-primary:hover {
    background-color: var(--secondary-color-hover);
}

.link-secondary {
    color: var(--tertiary-color);
    transition: 0.3s;
}

.link-secondary:hover {
    color: var(--tertiary-color-hover);
}

.secondary  {
    color: var(--secondary-color);
}

.tertiary  {
    color: var(--tertiary-color);
}

span.finished {
    color: var(--finished);
}

a.finished {
    color: var(--primary-background-color);
    background-color: var(--finished);
    transition: 0.3s;
}

a.finished:hover {
    background-color: var(--finished-hover);
}

.in-progress {
    color: var(--in-progress);
}

a.private {
    color: var(--primary-background-color);
    background-color: var(--private);
    transition: 0.3s;
}

a.private:hover {
    background-color: var(--private-hover);
}

p.private {
    color: var(--private);
}

a.discord {
    color: var(--primary-color);
    background-color: var(--discord);
}

@media (width <= 700px) {
    main {
        margin: 2em 3%;
    }

    header h2 {
        display: none;
    }

    section {
        width: 100%;
        padding: 1em 0;
    }

    section.education, section.work-experience ul li {
        background-color: #0A0B1E70;
        background-blend-mode: darken;
    }

    hr {
        width: 95%;
    }

    section article {
        margin: 0
    }

    section.about-me article {
        flex-wrap: wrap;
    }

    section p {
        width: 90%;
        text-align: start;
    }

    section ul {
        padding: 0;
    }

    section ul li {
        flex-wrap: wrap;
    }

    section ul li h3 {
        margin: 0 1em;
    }

    div.links a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    div.links a i {
        margin: 0 0 0.25em;
    }
}
