@import 'root.css';

main {
    margin: 3em 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main section {
    width: 80%;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main section article {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

main section img#profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main section p {
    width: 60%;
    text-align: center;
}

main section a {
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    border-radius: 1em;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

main section a:hover {
    background-color: var(--secondary-color-hover);
}

main section ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section ul li p {
    text-align: end;
}

main i {
    font-size: 2em;
    margin-right: 0.5em;
}

main section.awards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main hr {
    width: 90%;
    border: 1px solid var(--secondary-color);
    border-radius: 10%;
}

main section.education {
    background-image: url("../images/unizg.png");
    background-repeat: no-repeat;
    background-position: center;
}

main h3 {
}

.secondary, .secondary a  {
    color: var(--secondary-color);
}

span.finished {
    color: var(--finished);
}

a.finished {
    background-color: var(--finished);
}

a.finished:hover {
    background-color: var(--finished-hover);
}

.in-progress {
    color: var(--in-progress);
}

a.private {
    background-color: var(--private);
    transition: 0.3s;
}

a.private:hover {
    background-color: var(--private-hover);
}

p.private {
    color: var(--private);
}

.row {
    width: 100%;
    display: flex;
}

.column {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.column img {
    border: 5px solid #0000;
}

.slideshow-container {
    width: 70%;
    position: relative;
    max-height: 70%;
}

.slideshow-container div:not([class=text]) {
    display: none;
    aspect-ratio: 1/1;
    background-color: #0005;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-container div img {
    max-height: 100%;
    max-width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 1.25em);
    margin: 0;
    padding: 1em;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #0009;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--secondary-color);
    color: var(--primary-background-color);
}

.dots {
    text-align: center;
}

.dots span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #fff !important;
}

div.links {
    display: flex;
    flex-direction: row;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@media (width <= 700px) {
    main {
        margin: 3em 3%;
    }

    main h2 {
        width: 80%;
        text-align: center;
    }

    main section {
        width: 100%;
        padding: 1em 0;
    }

    main hr {
        width: 95%;
    }

    main section article {
        margin: 0
    }

    main section p {
        width: 90%;
        text-align: start;
    }

    main section ul {
        padding: 0;
    }

    main section ul li {
        flex-wrap: wrap;
    }

    main section ul li h3 {
        margin: 0 1em;
    }

    .slideshow-container {
        width: 100%;
    }
}
