:root {
    --primary-background-color: #0A0B1E;
    --secondary-background-color: #000000;

    --primary-color: #fff;
    --secondary-color: #9333EA;
    --tertiary-color: #67E8F9;

    --secondary-color-hover: #7111D8;
    --tertiary-color-hover: #45C6D7;

    --finished: #14ff6d;
    --finished-hover: #00ff00;
    --in-progress: #ffad00;
    --private: #ff3f3f;
    --private-hover: #ff1010;
}
